src/main/mule/net-tools-interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/http
		http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/mule-apikit
		http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
		http://www.mulesoft.org/schema/mule/spring
		http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
		http://www.mulesoft.org/schema/mule/scripting
		http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
		http://www.mulesoft.org/schema/mule/ee/core
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow
    	name="ui"
    	doc:id="94b97777-bd63-4abb-8093-a5c8ac97aa17" >
		<http:listener
			doc:name="Listener"
			doc:id="7e20b485-577c-4530-b2b1-66b6a84d5694"
			config-ref="net-tools-httpListenerConfig"
			path="/*"
			outputMimeType="text/html"/>
		<http:basic-security-filter
			doc:name="Basic security filter"
			doc:id="cb77f47e-923a-4195-86fc-23bbf2f01311"
			realm="mule" />
		<ee:transform
			doc:name="Transform Message"
			doc:id="f2311504-43c7-4db0-9b0a-a5a4fdd80d90" >
			<ee:message ></ee:message>
			<ee:variables >
				<ee:set-variable variableName="path" ><![CDATA[%dw 2.0
output application/java
---
attributes.requestPath]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<scripting:execute
			engine="groovy"
			doc:name="Execute"
			doc:id="d4d71943-f44e-4acb-8678-951dbf1aa6e1">
			<scripting:code>if (&quot;/&quot;.equals(path)) {
	org.mule.runtime.core.api.util.IOUtils.getResourceAsString(&quot;web/index.html&quot;, this.getClass());
} else {
	org.mule.runtime.core.api.util.IOUtils.getResourceAsString(&quot;web&quot; + path, this.getClass());
}</scripting:code>
			<scripting:parameters><![CDATA[#[{path: vars.path}]]]></scripting:parameters>
		</scripting:execute>
	</flow>
    <flow
    	name="ui-css"
    	doc:id="bc50f62f-51f7-4841-955b-014eb52b2976" >
		<http:listener
			doc:name="Listener"
			doc:id="24f59827-51c3-48d1-abce-18d4143f58f3"
			config-ref="net-tools-httpListenerConfig"
			path="/css/*"
			outputMimeType="text/css"/>
		<flow-ref
			doc:name="Flow Reference"
			doc:id="4a35a0d4-31a1-4514-a348-a4eb4d089559"
			name="ui"/>
	</flow>
	<flow name="net-tools-main">
        <http:listener
        	config-ref="net-tools-httpListenerConfig"
        	path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
		<http:basic-security-filter
			doc:name="Basic security filter"
			realm="mule" />
        <apikit:router config-ref="net-tools-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform
                	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
                	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core
                		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform
                	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
                	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core
                		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform
                	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
                	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core
                		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform
                	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
                	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core
                		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform
                	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
                	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core
                		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform
                	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
                	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core
                		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="net-tools-console">
        <http:listener
        	config-ref="net-tools-httpListenerConfig"
        	path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="net-tools-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform
                	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
                	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core
                		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
</mule>
